@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body{
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align:center;
    font-family: "Lilita One";
}

.heading{
    font-size: 3.5rem;
}

.subheading{
    font-size: 2.2rem;
}

.paragraph{
    font-size:
}

.from{
    font-weight: italic;
    color: darkgreen;
}
