*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(bg1\ pokemon.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container{
    max-width: 90vw;
    margin: 1rem auto;
    text-align: center;
}

.card{
    display: inline-block;
    width: 30%;
    border-radius: 1rem;
    text-align: center;
    margin: 1rem 1rem;
    vertical-align: top;
    border-width: 10px;
    height: auto;
    box-shadow: 10px 10px 10px black;
}



.image{
    background-image: url(bg1pokemon.png);
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

@media(max-width: 1166px) {
    .card {
        display: block;
        width: 40%;
        margin: 1rem;
    }
}

@media(max-width: 620px) {
    .card {
        display: block;
        width: 80%;
        margin: 1rem auto;
    }
}

img{
    filter: drop-shadow(10px 10px 5px #222);
    object-fit: cover;
    object-position: bottom;
    width: 70%;
    margin: 1rem 0;
}

.bgimage {
    max-width: 150px;
    height: 150px;
    background-image: url(bg1pokemon.png);
}

h1{
    padding: 0.2rem 0.8rem;
    text-shadow: 4px 4px 5px black;
    color: white;
}

.type, .type1, .type2{
    display: inline-block;
    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0.5rem;
    color: white;
    text-shadow: 1px 1px 5px black;
}

@media (max-width: 852px){
    .type, .type1, .type2{
        display: block;
        margin: 0.5rem 1.2rem;
    }

}

.desc{
    color: white;
    text-align: justify;
    margin: 0.5rem 0.2rem;
    line-height: 1.3;
    padding: 0 1.2rem;
    height: 4rem;
}

.buttons{
    margin-top: 0.8rem;
    text-align: center;
    padding: 0 0.8rem;
    display: inline-block;
}

button{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    margin: 0.2rem 0.5rem;
    color: white;
    transition: 0.5s ease;
    margin-bottom: 1rem;
}

button:hover{
    background-color: black;
}

.add{
    background-color: steelblue;
}

.release{
    background-color: crimson;
}

.card:hover{
    background-color: white;
} 

.details{
    padding: 0.8rem 0;
    border-radius: 1rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.pink{
    background-color: #708090;
}

.lightyellow{
    background-color: #DAA520;
}

.lightblue{
    background-color: lightblue;
}

.pinkpurple{
    background-color: #EE82EE;
}

.lightgreen{
    background-color: #6B8E23;
}

.lightpurple{
    background-color: #CBC3E3;
}

.normal{ 
    background-color: gray; 
}

.fire{
    background-color: #B22222; 
}

.electric{ 
    background-color: #F7D02C; 
}

.water{ 
    background-color: #6390F0; 
}

.grass{ 
    background-color: #008000; 
}

.ground{ 
    background-color: #A0522D; 
}






