*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Navigation{
    background-color: #edebe7;
}

.Navigation .container{
    color: #625547;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.Logo{
    font-size: 2.5rem;
}

.lists{
    display: flex;
}

li{
    list-style: none;
    margin-left: 20px;
}

li > a{
    color: #625547;
    font-size: 1.2rem;
    text-decoration: none;
    transition: 0.5s all ease;
}

li > a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 10px;
}


.container{
    width: 90vw;
    margin: 0 auto;
}

main .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40% 35% auto;
    height: 650px;
}

.main-picture{
    grid-column: 1/3;
    grid-row: 1/2;
}

.ttpd{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
